/Debug
/_UpgradeReport_Files
/FastCopy.ncb
/UpgradeLog.XML
/FastCopy.suo
/FastCopy.vcproj.Chez-Lau.Laurent_2.user
/setup.exe
/setup.ilk
/shellext.vcproj.Chez-Lau.Laurent_2.user
/FastCopy.opensdf
/FastCopy.sdf
/FastCopy.vcxproj.filters
/FastCopy.vcxproj.user
/UpgradeLog2.XML
/install.vcproj.Chez-Lau.Laurent_2.user
/install.vcxproj.filters
/install.vcxproj.user
/shellex64.vcproj.Chez-Lau.Laurent_2.user
/shellex64.vcxproj.filters
/shellex64.vcxproj.user
/shellext.vcxproj.filters
/shellext.vcxproj.user
/src/NOTES.txt
/ipch